<h1>Edit this service!</h1>

<%= form_for @service do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :picture %>
        <%= f.text_field :picture %>
    </div>

    <div>
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>

    <div>
        <%= f.label :category_id %>
        <%= f.text_field :category_id %>
    </div>

    <%= f.submit "Submit these changes!" %>

<% end %>

<%= link_to "Back to the list!", services_path %>