
<h1>
<% if current_seller  %>
Your 
<%else%>
The
<%end%>
Service List</h1>

<ul>
    <% @services.each do |service| %>
        <li>Service Id: <%= service.id %></li>
        <li>Service Name: <%= service.name %></li>
        <li>Service Description: <%= service.description %></li>
        <li>Service Cost: <%= number_to_currency(service.price, :precision => 2) %></li>
        <li>Seller ID: <%= service.seller_id %></li>
        <li>Service Category: <%= service.category.name %></li>
        <p></p>
        <p><%= link_to "More info", service_path(service) %></p>
        
    <% end %>
</ul>
<% if current_seller  %>
<p><%= link_to "Make a new service", new_service_path%></p>
<%end%>
<p><%= link_to "Link To Categories", categories_path%></p>
