<h1>Your Service List</h1>

<ul>
    <% @services.each do |service| %>
        <li><%= service.name %></li>
        <li><%= service.description %></li>
        <li><%= image_tag(service.picture, :class => 'picture') %></li>
        <li><%= number_with_precision(service.price, :precision => 2) %></li>
        <li><%= service.seller_id %></li>
        <li><%= service.category_id %></li>
        
        <%= link_to "Don't want to do this anymore!", services_path, method: :delete, data: { confirm: "Are you sure you want to delete this service?"} %>

    <% end %>
</ul>