<%=render 'layouts/nav_bar'%>
<h1>The Service List</h1>

<%= form_tag(services_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Services" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

<div class="row">
    <% @services.each do |service| %>
        <div class="col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <p><%=service.id%></p> 
                    <p><%=service.name%></p>
                    <%= image_tag(service.picture, :class => 'thumb')%>
                    <p>What I do: <%=service.description%></p>
                    <p>I'm poor, gimme: <%= number_to_currency(service.price, :precision => 2) %></p>
                    <p><%= link_to "More info", service_path(service) %></p>
                </div>
            </div>
        </div>
    <%end%>
</div>