<%=render 'layouts/nav_bar'%>
<h1>My Service List</h1>

<ul>   
    <% @services.each do |service| %>

        <%if current_seller == nil%> 

        <%else%> 

         <%if service.seller_id == current_seller.id%>
            <li>Service Id: <%= service.id %></li>
            <li>Service Name: <%= service.name %></li>
            <li>Service Description: <%= service.description %></li>
            <li>Service Cost: <%= number_to_currency(service.price, :precision => 2) %></li>
            <li>Seller ID: <%= service.seller.username %></li>
            <li>Service Category: <%= service.category.name %></li>
            <p></p>
            <p><%= button_to "More info", service_path(service), :class => "btn btn-default", :method => :get %></p>
            <%end%>
        <%end%>
    <% end %>
</ul>

<%if current_seller == nil%> 
    Log in to see or create your list
<%end%>

<% if current_seller  %>
    <p><%= button_to "Add a service", new_service_path, :class => "btn btn-default", :method => :get %></p>
<%else%>
    <p><%= button_to "Register", sellers_path, :class => "btn btn-default", :method => :get %></p>
<%end%>
    
