<%=render 'layouts/nav_bar'%>
<h1>Add a new service!</h1>

<%= form_for @service do |f| %>

    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description %>
    </div>

    <div class="form-group">
        <%= f.label :picture %>
        <%= f.text_field :picture %>
    </div>

    <div class="form-group">
        <%= f.label :price %>
        <%= f.text_field :price %>
    </div>

    <div class="form-group">
        <%= f.label :text %>
        <%= f.text_area :text %>
    </div>

    <div class="form-group">
        <%= f.label :category_id, "category" %>
        <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :name)%>
    </div>
    <%if current_seller%>
    <div class="form-group">
        <%= f.hidden_field :seller_id, value: current_seller.id %>
    </div>

    <%= f.submit "Add new service!" %>
    <%else%>
        You need to be logged in to create anything
    <%end%>
<% end %>

