    <%= form_for(@seller) do |f| %>

      <% flash.each do |key,value|  %>
        <div class="<%= key %>" > <%= value %> </div>
      <% end %>

      <%= f.label :name%>
      <%= f.text_field :name%>

      <%= f.label :username%>
      <%= f.text_field :username%>

      <%= f.label :contact%>
      <%= f.telephone_field :contact%>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Signup" %>
    <% end %>