<%=render 'layouts/nav_bar'%>
<h1>Edit this category</h1>

<%= form_for @category do |f| %>

    <div class="form-group">
        <p><%= f.label :name %></p>
        <p><%= f.text_field :name %></p>
    </div>

    <div class="form-group">
        <p><%= f.label :description %></p>
        <p><%= f.text_field :description %></p>
    </div>
	<div class="form-group">
        <%= f.submit "Submit these changes!" %>
	</div>
<% end %>

